* {
  margin: 0;
  text-decoration: none;
}
body {
  background-color: var(--darkgrey);
}
:root {
  --lightblue: rgb(103, 138, 241);
  --darkgrey: rgb(56, 56, 56);
  --light: rgb(165, 186, 250);
}

/* header settings */
header {
  background-color: var(--darkgrey);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
a h1 {
  color: white;
  display: inline-block;
  margin-left: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0;
}
h1 span {
  font-weight: lighter;
}
h1::after {
  content: " ";
  display: block;
  background-color: #007bff;
  width: 175px;
  height: 10px;
  margin-top: -10px;
}
header p {
  margin: 0 20px;
  color: #6c757d;
  font-size: 1rem;
  font-weight: lighter;
  text-align: left;
  align-self: flex-end;
}

.input-group {
  margin: 1rem 0;
}

.card {
  margin: 1rem;
}

.next-date {
  background-color: #007bff;
}

.forecast-title {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

#hide {
  display: none;
}

footer {
  background-color: var(--darkgrey);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}
